@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

img {
	border: 0;
}

body {
	background: #FFFFFF url('images/bkg.jpg') repeat-x scroll 0px 199px;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

a {
	outline: none;
	color: #00A01D;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

p {
	font-weight: normal;
	text-align: justify;
}

/* ---- HEADER ---- */
#header {
	height: 199px;
	width: auto;
	background: url('images/bkg_header.jpg') repeat-x;
}

.header-content {
	width: 940px;
	height: 196px;
	margin: 0px auto;
}

.header-menu {
	width: 940px;
	height: 53px;
	margin-top: 143px;
	position: absolute;
	background-image: url('images/bkg_menu.png');
}

.header-menu li {
	list-style: none;
	display: inline;
}

.header-menu li a {
	display: inline-block;
	margin-right: -3px;
}

.header-menu li a.compra_dia {
	background: url('images/menu-compra_dia.png') no-repeat scroll 0px 0px;
	width: 140px;
	height: 53px;
}

.header-menu li a.compra_dia:hover {
	background: url('images/menu-compra_dia_selecionado.png') no-repeat
		scroll 0px 0px;
	width: 140px;
	height: 53px;
}

.header-menu li a.compras_recentes {
	background: url('images/menu-compras_recentes.png') no-repeat scroll 0px
		0px;
	width: 156px;
	height: 53px;
}

.header-menu li a.compras_recentes:hover {
	background: url('images/menu-compras_recentes_selecionado.png')
		no-repeat scroll 0px 0px;
	width: 156px;
	height: 53px;
}

.header-menu li a.receba_email {
	background: url('images/menu-receba_email.png') no-repeat scroll 0px 0px
		;
	width: 167px;
	height: 53px;
}

.header-menu li a.receba_email:hover {
	background: url('images/menu-receba_email_selecionado.png') no-repeat
		scroll 0px 0px;
	width: 167px;
	height: 53px;
}

.header-menu li a.como_funciona {
	background: url('images/menu-como_funciona.png') no-repeat scroll 0px
		0px;
	width: 131px;
	height: 53px;
}

.header-menu li a.como_funciona:hover {
	background: url('images/menu-como_funciona_selecionado.png') no-repeat
		scroll 0px 0px;
	width: 131px;
	height: 53px;
}

.header-menu li a.blog {
	background: url('images/menu-blog.png') no-repeat scroll 0px 0px;
	width: 58px;
	height: 53px;
}

.header-menu li a.blog:hover {
	background: url('images/menu-blog_selecionado.png') no-repeat scroll 0px
		0px;
	width: 58px;
	height: 53px;
}

.header-menu li a.login {
	background: url('images/menu-restante.png') no-repeat scroll 0px 0px;
	width: 288px;
	height: 53px;
}

.header-menu .bt-login,.header-menu .bt-minhaconta {
	cursor: pointer;
}

.resgatarsenha {
	float:right;
	margin-top: -19px;	
}

.header-menu .bts {
	margin-top: -47px !important;
	margin-right: 10px;
}

.bt-login a {
	cursor: pointer;
}

.header-menu .espaco-form-login,.header-menu .espaco-minhaconta {
	margin-top: -10px;
	width: 940px;
}

.espaco-form-login .form-login {
	width: 223px;
	height: 107px;
	background-image: url('images/bkg_login.png');
	display: none;
	padding: 20px;
	float: right;
}

.espaco-minhaconta .minhaconta {
	width: 135px;
	height: 80px;
	background-image: url('images/bkg_minhaconta.png');
	display: none;
	padding: 20px;
	float: right;
}

.espaco-minhaconta .minhaconta ul {
	margin-top: -17px;
}

.espaco-minhaconta .minhaconta li {
	list-style: none;
	display: block;
	line-height: 22px;
}

.espaco-minhaconta .minhaconta li a {
	font-size: 14px;
	color: #999999;
}

.espaco-minhaconta .minhaconta li a:hover {
	font-size: 14px;
	color: #00A01D;
}

.espaco-form-login .form-login form {
	margin-top: -12px;
}

.logo {
	width: 308px;
	height: 121px;
	position: absolute;
	z-index: 1;
	margin-top: 22px;
}

.outras-cidades {
	height: 35px;
	width: auto;
	float: right;
}

.outras-cidades-select {
	width: 183px;
	height: 35px;
	float: left;
	margin-right: 15px;
	margin-top: 7px;
}

.select_outrascidades {
	background: url('images/bkg_select_outrascidades.png') no-repeat;
	color: #FFFFFF;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-align: right;
	padding-right: 25px;
}

.outras-cidades-descricao {
	height: 34px;
	width: auto;
	float: left;
}

.bkg-left-descricao {
	background-image: url('images/bkg_cidade_left.png');
	float: left;
	width: 9px;
	height: 34px;
}

.bkg-descricao {
	background-image: url('images/bkg_cidade.jpg');
	float: left;
	width: auto;
	height: 29px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
}

.bkg-right-descricao {
	background-image: url('images/bkg_cidade_right.png');
	float: left;
	width: 9px;
	height: 34px;
}

.outras-cidades-list {
	position: absolute;
	z-index: 10 !important;
	top: 35px;
	display: none;
	margin-left: 50px;
}

.outras-cidades-list li a {
	color: #FFFFFF;
	font-weight: normal;
}

.outras-cidades-list li a:hover {
	color: #FFFFFF;
	font-weight: bold;
}

.outras-cidades-list li {
	list-style: none;
	color: #FFFFFF;
	font-size: 14px;
	background-color: #3c3d3d;
	width: 140px;
}

.outras-cidades-list li.over {
	text-decoration: underline;
}

.cadastro {
	width: 595px;
	height: 33px;
	float: right;
	clear: both;
	margin-top: 35px;
}

.cadastro .bt_cadastrar {
	float: right;
}

.cadastro .input_text {
	background: transparent url('images/input_text_header.png') no-repeat;
	width: 239px;
	height: 33px;
	border: none;
	float: right;
	margin-right: 10px;
	padding-left: 10px;
	padding-top: -10px;
	font-size: 15px;
	color: #00A01D;
	display: block;
	line-height: 31px;
}

.select_outrascidades2 {
	background: url('images/bkg_select_outrascidades2.png') no-repeat;
	color: #00A01D;
	font-size: 15px;
	border: none;
	cursor: pointer;
	height: 33px;
	width: 174px;
	padding-left: 10px;
	display: block;
	line-height: 31px;
}

.outras-cidades-list2 {
	position: absolute;
	z-index: 10 !important;
	top: 94px;
	display: none;
}

.outras-cidades-list2 li {
	list-style: none;
	color: #00A01D;
	font-size: 14px;
	background-color: #F6F6F6;
	width: 163px;
	padding-left: 11px;
	padding-top: 7px;
}

.outras-cidades-list2 li a {
	font-weight: normal;
	cursor: pointer;
}

.outras-cidades-list2 li a:hover {
	font-weight: bold;
}

.outras-cidades-list2 li.selected {
	font-weight: bold;
}

.outras-cidades-list2 li.over {
	text-decoration: underline;
}

.outras-cidades-list2 li.final {
	background: transparent url('images/bkg_select_outrascidades3.png');
	width: 163px;
	height: 3px;
}

/* ---- CONTENT ---- */
#content {
	width: 940px;
	margin: 22px auto;
	min-height: 600px;
}

#content h2 {
	font-size: 26px;
}

.encerrado {
	margin-bottom: 30px;	
}

#content h2.title-content {
	font-size: 42px;
	margin-bottom: 20px;
	color: #686969;
}

.round-info {
	width: 224px;
	background-color: #00a01e;
	color: #fff;
	height: auto;
}

.categorias-meus_cupons {
	width: auto;
	border-bottom: #CECECE solid 1px;
	text-align: left;
	font-size: 15px;
	color:#666666;
	padding-bottom: 2px;
	margin-bottom: 20px;	
}

h2.meus_cupons {
	color: #666666;
}

.categorias-meus_cupons a {
	font-size: 15px;
	display: inline;
	padding: 2px;
}

.categorias-meus_cupons a:hover {
	font-size: 15px;
	padding: 2px;
	display: inline;
	background-color: #00A01D;
	color: #FFFFFF;
	text-decoration: none;
}

.round-outras_fertas {
	width: 224px;
	background-color: #00a01e;
	color: #fff;
	height: auto;
}

.roundtop {
	background: url(images/top-right.gif) no-repeat top right;
}

.roundbottom {
	background: url(images/bottom-right.gif) no-repeat top right;
}

img.corner {
	width: 9px;
	height: 11px;
	border: none;
	display: block !important;
}

.col {
	width: 220px;
}

.col-content {
	width: 460px;
	margin-bottom: 30px;
	min-height: 865px;
}

.margin-right {
	margin-right: 21px;
}

.margin-left {
	margin-left: 17px;
}

.banner {
	margin: 20px 20px 0px auto;
}

.convite {
	margin: 5px;
	float: left;	
}

.anunciante {
	margin-left: 2px;
}

.preco-de-frente {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	z-index: 2;
	margin: -1px -1px;
}

.preco-de-tras {
	color: #000000;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	z-index: 1;
}

.preco-por-frente {
	color: #fed000;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	z-index: 2;
	margin: 34px -1px;
}

.seta {
	width: 13px;
	height: 24px;
	margin-left: 209px;
	margin-top: 30px;
	position: absolute;
	z-index: 1;
	background-image: url('images/seta_coluna.png');
}

.preco-por-tras {
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	z-index: 1;
	margin-top: 35px;
}

.info {
	margin: 110px -2px;
	display: block;
	margin-bottom: 0px;
}

.info p {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 27px;
	display: block;
	margin-bottom: 0px;
	clear: both;
}

.vendidos {
	margin-bottom: 20px;
	clear: both;
}

p.minimo {
	font-size: 15px;
	color: #006800;
	margin: 20px;
}

.info a img {
	margin-bottom: 20px;
	margin-top: 0px;
}

.divisoria {
	width: auto;
	height: 3px;
	background-color: #007c00;
	padding: 0px;
	clear: both;
	margin-bottom: 20px;
}

.content-info_oferta {
	height: auto;
	padding: 8px 15px 0px 15px;
}

.content-outras_ofertas {
	height: auto;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

h2.tit-outras_ofertas {
	font-size: 26px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.foto-oferta {
	margin-bottom: 10px;
}

.content-outras_ofertas strong {
	color: #FFFFFF;
	font-size: 14px;
}

.content-outras_ofertas .botoes {
	width: 166px;
	height: 33px;
	margin: 15px auto;
}

.content-outras_ofertas .botoes font {
	background-image: url('images/aba_left.png');
	height: 28px;
	width: 82px;
	color: #005e00;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
}

.content-outras_ofertas .botoes a {
	background-image: url('images/aba_right.png');
	height: 33px;
	width: 84px;
}

.line {
	background: url('images/line_footer.png') repeat scroll 0px 10px;
	width: auto;
	height: 20px;
	margin-bottom: 10px;
}

.compartilhe {
	width: 446px;
	height: 16px;
	background-image: url('images/bkg_compartilhe.png');
	padding: 6px;
	margin-left: 2px;
}

.tit-compartilhe {
	width: 170px;
	color: #777676;
	font-weight: bold;
	padding-left: 3px;
}

.compartilhe-facebook {
	background: url('images/ico-facebook.gif') no-repeat scroll 0px 0px;
}

.compartilhe-twitter {
	background: url('images/ico-twitter.gif') no-repeat scroll 0px 0px;
}

.compartilhe-orkut {
	background: url('images/ico-orkut.gif') no-repeat scroll 0px 0px;
}

.compartilhe-email {
	background: url('images/ico-email.gif') no-repeat scroll 0px 0px;
}

.compartilhe li {
	width: 100px;
	height: 18px;
	text-align: right;
	list-style: none;
	display: inline;
}

.compartilhe a {
	padding-left: 20px;
	font-weight: bold;
}

.compartilhe a:hover {
	text-decoration: underline;
}

#content h2.compra-do-dia {
	color: #000000;
	font-size: 44px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}

.oferta {
	width: 459px;
	height: 375px;
	margin-left: 1px;
	margin-bottom: -60px;
}

.titulo-frente {
	width: 380px;
	font-weight: normal;
	font-size: 26px;
	z-index: 2;
}

.titulo-frente p {
	font-size: 26px;
}

.titulo-frente div {
	width: 380px;
	font-weight: normal;
	font-size: 26px;
	z-index: 2;
}

.tab-content b, .tab-content strong, .tab-content u, .tab-content i, .tab-content em, .tab-content s, .tab-content strike, .tab-content del, .tab-content sub, .tab-content sup
{
	font-size: 12px;
}

.titulo-frente b, .titulo-frente strong, .titulo-frente u, .titulo-frente i, .titulo-frente em, .titulo-frente s, .titulo-frente strike,del
{
	font-size: 26px;
}

.titulo-frente sub, .titulo-frente sup {
	font-size: 18px;
}

.oferta .titulo-atras {
	width: 380px;
	padding: 9px 19px;
	font-weight: normal;
	font-size: 26px;
	position: absolute;
	z-index: 1;
}

#abas {
	margin-top: 80px;
}

#abas li {
	list-style: none;
	display: inline;
}

#abas li a {
	display: inline-block;
	margin-right: -3px;
}

#abas li a.aba-destaque {
	background: url('images/aba-destaque.gif') no-repeat scroll 0px 0px;
	width: 99px;
	height: 43px;
}

#abas li a.aba-destaque-selecionado {
	background: url('images/aba-destaque_selecionado.gif') no-repeat scroll
		0px 0px;
	width: 99px;
	height: 43px;
}

#abas li a.aba-regras {
	background: url('images/aba-regras.gif') no-repeat scroll 0px 0px;
	width: 115px;
	height: 43px;
}

#abas li a.aba-regras-selecionado {
	background: url('images/aba-regras_selecionado.gif') no-repeat scroll
		0px 0px;
	width: 115px;
	height: 43px;
}

#abas li a.aba-empresa {
	background: url('images/aba-empresa.gif') no-repeat scroll 0px 0px;
	width: 114px;
	height: 43px;
}

#abas li a.aba-empresa-selecionado {
	background: url('images/aba-empresa_selecionado.gif') no-repeat scroll 0px 0px;
	width: 114px;
	height: 43px;
}

#abas li a.aba-vote {
	background: url('images/aba-vote.gif') no-repeat scroll 0px 0px;
	width: 134px;
	height: 43px;
	margin-left: -0.5px;
}

#abas li a.aba-vote-selecionado {
	background: url('images/aba-vote_selecionado.gif') no-repeat scroll 0px
		0px;
	width: 134px;
	height: 43px;
	margin-left: -0.5px;
}

.tab-content {
	border-left: #cdcdcd solid 1px;
	border-right: #cdcdcd solid 1px;
	border-bottom: #cdcdcd solid 1px;
	width: 406px !important;
	height: auto;
	margin: -4px 1px;
	padding: 25px;
}

.tab-content .votacao {
	display: table;
	margin: 0px auto;
	width: auto;	
}

.tab-content .votacao #stars {
	margin-left: 14px;
}

.tab-content .votacao p {
	margin-left: 0px;
	text-align: center;
}

#tab1 ol li, #tab2 ol li, #tab3 ol li, #tab4 ol li {
	font-size: 13px;
	font-weight: normal;	
}

.tab-content .video {
	margin-left: 10px;
	margin-bottom: 20px;	
}

.tab-content a {
	color: #000000;
}

.tab-content li {
	color: #000000;
	line-height: 25px;
}

.tab-content h2 {
	font-size: 14px;
	color: #00a01d;
	margin: 20px 0px 20px -16px;
}

.tab-content span,.tab-content p {
	color: #000000;
}

.tab-content p {
	margin-left: -14px;
}

.espaco-contador {
	margin: 0px auto;
	width: auto;
	display: table;
}

.contador {
	height: auto;
	width: auto;
	border-top: #004e00 solid 1px;
	border-left: #004e00 solid 1px;
	font-size: 35px;
	color: #FFFFFF;
	font-weight: bold;
	float: left;
	padding: 3px;
	background-color: #007c00;
}

.contador-pontos {
	font-size: 40px;
	color: #FFFFFF;
	font-weight: bold;
	float: left;
	margin: -2px 2px;
}

ol {
	list-style-type: decimal;
	font-weight: bold;
	line-height: 30px;
	margin-left: 25px;
}

ol li {
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #00A01D;
}

ol ol {
	list-style-type: decimal;
	margin-left: 30px;
	text-transform: none;
}

ol ol li {
	font-size: 13px;
	margin-bottom: 0px;
	color: #4D4D4F;
}

input.cidade {
	line-height: 36px;
	width: 164px;
	height: 38px;
	background: #f2f2f2 url('images/bt_cidade.png');
	border: none;
	font-size: 15px;
	color: #00A01D;
	padding-left: 10px;
	cursor: pointer;
}

input.email {
	line-height: 36px;
	width: 244px;
	height: 38px;
	margin-left: 10px;
	background: #f2f2f2 url('images/input_text.png');
	border: none;
	font-size: 15px;
	color: #00A01D;
	padding-left: 10px;
}

input.bt-cadastrar {
	margin-left: 10px;
	padding: 0px;
}

#cidades {
	position: absolute;
	display: none;
}

.lista-cidades {
	width: 172px;
	height: auto;
	background-color: #f8f8f8;
	border-left: #c5c5c5 solid 1px;
	border-right: #c5c5c5 solid 1px;
	margin-top: 25px;
}

.lista-cidades ul {
	padding-top: 20px;
}

.lista-cidades li {
	list-style: none;
	line-height: 20px;
	margin-left: 10px;
}

.lista-cidades li a {
	color: #4D4D4F;
	font-weight: normal;
	cursor: pointer;
}

.lista-cidades li a:hover {
	color: #00A01D;
}

.lista-cidades-bottom {
	width: 174px;
	height: 9px;
	background-image: url('images/bottom_cidades.png');
	display: block;
	clear: both;
	position: absolute;
}

.round-oferta {
	border: #dcdcdc solid 1px;
	width: 441px;
	height: 241px;
	background-color: #FFFFFF;
	padding: 10px;
	float: left;
	margin: 3.5px;
}

.round-oferta h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.round-oferta h2 a {
	color: #5e5f5f;
	font-size: 16px;
}

.round-oferta img {
	clear: both;
	float: left;
	margin-left: 15px;
}

.round-oferta .caixa-preco {
	width: 170px;
	height: 105px;
	background-color: #ededed;
	display: table;
	float: right;
	margin-right: 15px;
	padding: 5px;
}

.caixa-preco .content {
	display: table-row;
	vertical-align: middle;
	text-align: center;
}

.caixa-preco .content .vendidos {
	color: #00a01d;
	font-size: 18px;
	font-weight: bold;
}

.caixa-preco .content .precos {
	color: #5e5f5f;
	font-size: 14px;
	font-weight: bold;
}

.caixa-preco .preco-oferta {
	width: 155px;
	height: 22px;
	background: url('images/preco.png');
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #b37d00;
	padding: 8px;
	padding-top: 10px;
	text-align: center;
}

/* ---- FOOTER ---- */
#footer-content {
	height: 227px;
	width: auto;
	background-color: #00a01e;
	clear: both;
}

#footer {
	background-color: #01890d;
	height: 58px;
	width: auto;
}

.cols-footer {
	width: 940px;
	margin: 0px auto;
}

.cols-footer h2 {
	font-weight: bold;
	font-size: 16px;
	background: url('images/line_footer.png') repeat scroll 0px 35px;
	color: #FFFFFF;
	height: 35px;
	width: 141px;
	margin-bottom: 10px;
}

.col-footer {
	width: 123px;
	float: left;
	margin: 40px 32px 0px;
}

.col-footer p,.col-footer a {
	color: #FFFFFF;
	font-size: 13px;
	text-decoration: none;
	line-height: 25px;
	font-weight: normal;
}

.col-footer a:hover {
	text-decoration: underline;
}

.col-footer ul {
	margin-top: 10px;
}

.col-footer li {
	display: inline;
	margin: 4px;
}

.footer-height {
	height: 58px;
}

.footer-assinatura {
	margin-top: 25px;
}

.footer-assinatura small {
	font-size: 11px;
	color: #FFFFFF;
}

/* FORMULÁRIOS */
.form-login input {
	height: 25px;
	width: 220px;
	border: silver solid 1px;
}

#cadastrar-label,#email-label,#cidade-label {
	display: none;
}

ul.errors {
	clear: both;
}

ul.errors li {
	color: #e22;
	list-style: none;
	font-size: 10px;
}

#id_cidade-label,#nome-label,#cpf-label,#data_nascimento-label,#newsletter-label,#telefone-label,#email-label,#senha-label,#confirma_senha-label,#submit-element,
#mailform-label, #assunto-label, #mensagem-label, #cidadee-label, #ramo-label, #site-label, #login-label
	{
	margin-top: 15px;
}

p.description {
	font-style: italic;
	font-size: 11px;
}

dt {
	font-weight: bold;
}

select#id_cidade,.formulario-cadastro input {
	padding: 5px;
	border: silver solid 1px;
}

.formulario-cadastro #email-label {
	display: block;
}

/* ---- SLIDE FOTOS ---- */ /*--Main Container--*/
.main_view {
	position: relative;
}

/*--Window/Masking Styles--*/
.window {
	height: 375px;
	width: 459px;
	overflow: hidden;
	/*--Hides anything outside of the set width/height--*/
	position: relative;
}

.image_reel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.image_reel img {
	float: left;
}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px;
	right: -7px;
	width: 178px;
	height: 47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	background: url(images/paging_bg2.png) no-repeat;
	display: none;
	/*--Hidden by default, will be later shown with jQuery--*/
}

.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}

.paging a.active {
	font-weight: bold;
	background: #007c00;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.paging a:hover {
	font-weight: bold;
}

/* ---- FORMULÁRIO PARCEIRO ---- */
h3.partners {
	color: #666666;
	font-size: 18px;
	font-weight: normal;
}

form#contactForm fieldset.partners {
	border: 0 none;
	float: none !important;
	margin: 30px 0 !important;
	padding: 0;
	width: auto !important;
}

form#contactForm fieldset.partners h5 {
	color: #00A01D;
	font-size: 15px;
	font-weight: bold;
}

form#contactForm fieldset.partners ol {
	margin: 0 0 -20px;
	padding: 0 0 20px;
	list-style: none outside none;
}

form#contactForm fieldset.partners ol li {
	float: left;
	width: 445px;
}

form#contactForm fieldset.partners label {
	color: #000000;
	float: left;
	font-size: 12px;
	margin: 1px 10px 0 0;
	width: 80px;
	font-weight: normal;
	text-transform: capitalize;
}

form#contactForm fieldset.partners input,form#contactForm fieldset.partners textarea
	{
	float: left;
	font-size: 13px;
	margin: 0 !important;
	padding: 4px !important;
	width: 300px;
	border: silver solid 1px;
}

.clear_all {
	clear: both;
	display: block !important;
	float: none !important;
	font-size: 1px;
	height: 1px;
	visibility: hidden;
}

form#contactForm fieldset.partners select {
	border: 1px solid silver;
	float: left;
	font-size: 13px;
	margin: 0 !important;
	padding: 5px;
	width: 310px;
}

form li label {
	display: block;
}

label {
	cursor: pointer;
}

form#contactForm fieldset.partners h5 label {
	float: none;
	font-size: 15px;
	font-weight: normal;
	width: auto;
}

form#contactForm fieldset.partners textarea {
	font-family: arial;
	height: 150px;
	width: 890px;
}

/* ---- FORMULÁRIO COMPRA ---- */
.foto_oferta-comprada {
	float: left;
	border: 10px solid #FFFFFF;
}

.espaco_form-compra {
	float: right;
	height: auto;
	width: 700px;
}

.espaco_form-compra h2 {
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px dashed #A9A9A9;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.compra-content {
	width: auto;
	height: auto;
	background-color: #f0f0f0;
	padding: 10px;
}

.linha-cima {
	width: auto;
	height: 1px;
	background-color: #e0e0e0;
}

.linha-baixo {
	width: auto;
	height: 1px;
	background-color: #f0f0f0;
}

.compra-footer {
	width: auto;
	height: auto;
	background-color: #e0e0e0;
	clear: both;
	text-align: right;
	padding: 10px;
}

.compra-footer .text-valor_total {
	color: #00a01d;
	font-size: 23px;
	font-weight: bold;
}

.compra-footer .text-cifrao {
	color: #686969;
	font-weight: bold;
}

.compra-footer .text-preco {
	color: #686969;
	font-size: 23px;
	font-weight: bold;
}

.compra-content .table1 {
	margin: 0px auto;
}

.table1 .text-header {
	font-size: 14px;
	font-weight: bold;
	color: #B9B9B9;
}

select#numero_utilizadores {
	padding: 5px;
	width: 70px;
}

.table1 .espaco {
	font-size: 18px;
	font-weight: bold;
	color: #00A01D;
}

.table1 .text {
	font-weight: bold;
	color: #666666;
}

.espaco-utilizadores {
	width: 96%;
	height: auto;
	background-color: #e0e0e0;
	margin: 10px;
	padding: 5px;
	display: block;
}

.espaco-utilizadores input {
	padding: 5px;
	margin-left: 10px;
	width: 450px;
	border: solid 1px #AAA;
}

.compra-content a {
	display: block;
	margin-top: 20px;
	width: 100px;
	height: 24px;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
}

.selo_pagseguro {
	clear: both;
	margin-top: 20px;
	text-align: center;
	padding-right: 10px;
}

/*--------DATATABLE---------*/
.DataTable
{
      width: 100%;
}
.DataTable th
{
      text-align: left;
      padding: 4px;
      cursor: pointer;
      position: relative;
}
.DataTable .ui-icon
{
      float: left;
      margin-right: 3px;
}
.DataTable td
{
      padding: 4px;
}
.DataTable tr.even td
{
      background-color: #f1f2f3;
}
.DataTable tr.odd td
{
      background-color: #f9f9f9;
}
.DataTable tr:hover td
{
      background-color: #eaeaea;
}
.DataTable td.remover,
.DataTable td.editar,
.DataTable td.enviar	
{
      text-align: center;
}
.ui-buttonset .ui-button
{
      margin: 0;
      padding: 5px 8px;
}
.dataTables_wrapper
{
      margin-top: 40px;
}
.dataTables_wrapper .ui-widget-header
{
      -moz-border-radius: 0;
      padding: 8px;
}
.dataTables_wrapper input,
.dataTables_wrapper select
{
      border: 1px solid #cecece;
      padding: 3px;
}
.dataTables_wrapper input:hover,
.dataTables_wrapper select:hover,
.dataTables_wrapper input:focus,
.dataTables_wrapper select:focus
{
      border-color: #aaa;
}
.dataTables_length
{
      width: 40%;
      float: left;
}
.dataTables_filter
{
      width: 50%;
      float: right;
      text-align: right;
}
.dataTables_info
{
      width: 50%;
      float: left;
}
.dataTables_paginate {
      float: right;
      text-align: right;
}
.DataTables_sort_wrapper
{
      position: relative;
}


/*--------PAGINATION---------*/

#pagination {
	width:100%;
	clear: both;
	padding-top: 50px;
}

.content-pagination {
	width:auto;
	text-align:center;
}

.content-pagination a {
	display: inline;
	color: #00A01D;
	font-size: 24px;
	padding: 5px;
	font-weight: normal;
}

.content-pagination span.page-current {
	display: inline;
	color: #999999;
	font-size: 24px;
	font-weight:bold;
	padding: 5px;
}

.content-pagination a.clear {
	display: inline;
	padding: 0px;
	padding-top: 10px;
}