/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .bold a {
	background-image:url(images/bold.png);
}
.markItUp .italic a {
	background-image:url(images/italic.png);
}
.markItUp .stroke a {
	background-image:url(images/stroke.png);
}

.markItUp .underline a {
	background-image:url(images/text_underline.png); 
}

.markItUp .listnumbers a {
	background-image:url(images/text_list_numbers.png);
}

.markItUp .listbullets a {
	background-image:url(images/text_list_bullets.png);
}

.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}