/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/

table, th, td {
	border: 1px solid #0 /* FFD562*/ /*#D4E0EE*/;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 4px;
}

thead th {
	text-align: center;
	background: #FFD562 /*#E6EDF5*/;
	color: #4F76A3;
	font-size: 100% !important;
}

tbody th {
	font-weight: bold;
}

tbody tr.odd { background: #fff /*#F7F9FC*/; }

table a:link {
	color: #555753 /*718ABE*/;
	text-decoration: none;
}

table a:visited {
	color: #555753 /*718ABE*/;
	text-decoration: none;
}

table a:hover {
	color: #555753 /*718ABE*/;
	text-decoration: underline !important;
}

tfoot th, tfoot td {
	font-size: 85%;
}
